*{
    padding: 0px;
    margin: 0 px;
    background-color:#548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     gap:3.0px;
  
}
.box{
    height:  18vmin;
    width: 18vmin;
    background-color: rgb(209, 189, 12);
    border-radius: 2rem ;
    border: none;
    font-size: 8vmin;
    color:rgb(124, 10, 230);
    cursor:pointer;
     
}
body{
     text-align: center;
     
}
#reset{
     
    padding: 1rem ;
    border-radius: 1rem;
    background-color: rgb(58, 58, 56);
    color: aliceblue;
    border: none;
    font-size: 1.25rem;
    cursor:pointer;

}
#msg{
    color: rgb(209, 189, 12);
    text-decoration: solid;
    font-size:8vmin;
    
}
#newbtn{
    padding: 1rem ;
    border-radius: 1rem;
    background-color: rgb(58, 58, 56);
    color: aliceblue;
    border: none;
    font-size: 1.25rem;
    cursor:pointer;
    

}
.msg-container{
    height:20vmin;
}

.hide
{
 display: none;
}
h1{
    font-size: 10vmin;
}